
<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href='/img/icon.png'>
        <link rel='stylesheet' href='/css/styles.css'>
        
    </head>
    <body>
      <div class="main-content">
          <title>404 Page</title>
          {{>header}}
          <p>{{alert}}</p>
      </div>
    
      {{>footer}}
    
    </body>
</html>